*.o
src/arena
src/libagent.a
example-agent/agent
example-agent-emende/agent
example-agent-emende/map_log
example-agent-lua/agent
example-agent-python/agent
bin
*.log
*.log.gz
__pycache__
*.pyc
.DS_Store
*/.DS_Store